
body{
  margin:0px;
  padding:0px;
}
#top{
  height:40px;
  background-color:#ddd;
  text-align:center;
}
#search input{
  margin:7px;
  width:250px;
  padding: 3px 5px;
}
#suggestions{
  width:250px;
  border:1px solid #000;
  margin:0 auto;
  opacity: 0;
  text-align:left;
  z-index:10;
  position:relative;
  background-color:#fff;
}
#suggestions div{
  border-bottom:1px solid #efefef;
  padding:2px;
  display:inline-block;
  position:relative;
  cursor:pointer;
}

#canvas{ 
  z-index: 2;
  position:fixed;
}

#labels{ 
  z-index: 4; 
  width:100%;
}
.label{
  position:absolute;
  opacity: 0;
  z-index: 4;
  border:2px solid transparent;
  padding:2px 4px;
  background:rgba(255,255,255,0.3);
}
.label:hover{
  cursor:pointer;
  background-color:#fff;
}
.label span{
}
.label.hovered{
  opacity:1;
}
.author{
  color:#3377CC;
  max-width:200px;
}
.author.connected{
  background:rgba(214, 228, 245, 0.8);
}
.author.hovered{
  border: 2px solid #3377CC;
}
.pub{
  color:#77AA33;
}
.pub.connected{
  background:rgba(228, 245, 214, 0.8);
}
.pub.hovered{
  border: 2px solid #77AA33;
}
.keyword{
  color:#CC7733;
  max-width:200px;
}
.keyword.hovered{
  border: 2px solid #CC7733;
}
.keyword.connected{
  background:rgba(245, 228, 214, 0.8);
}



