
#top{
  height:40px;
  background-color:#ddd;
  text-align:center;
}
#search input{
  margin:7px;
  width:250px;
  padding: 3px 5px;
}
#suggestions{
  width:250px;
  border:1px solid #000;
  margin:0 auto;
  opacity: 0;
  text-align:left;
  z-index:10;
  position:relative;
  background-color:#fff;
}
#suggestions div{
  border-bottom:1px solid #efefef;
  padding:2px;
  display:inline-block;
  position:relative;
  cursor:pointer;
}

#canvas{ 
  z-index: 2;
  position:fixed;
}

#labels{ 
  z-index: 4; 
  width:100%;
}
.label{
  position:absolute;
  z-index: 4;
  padding: 7px;
}
.author{
  color:#3377CC;
  max-width:200px;
}
.pub{
  color:#77AA33;
}
.keyword{
  color:#CC7733;
  max-width:200px;
}


