/*@font-face{
  font-family: "Generika Light";
  src:	url('../fonts/Generika-Light_web.woff') format('woff'), 
	url('../fonts/Generika-Light_web.ttf') format('truetype');
}*/
body{
  margin:0px;
  padding:0px;
  font-family: "Generika Light", "Generika" , Helvetica;
  overflow:hidden;
}
#top{
  padding:10px;
  height:60px;
  background-color:#fff;
}
#search{
  margin-top:15px;
  width:300px;
  position:relative;
}
#search input{
  padding: 3px 5px;
  width:300px;
  display:inline;
}
#suggestions{
  border:1px solid #AAA;
  width:312px;
  opacity: 0;
  position:relative;
  text-align:left;
  z-index:10;
  background-color:#fff;
}
.suggested{
  border-bottom:1px solid #efefef;
  width:302px;
  display:block;
  position:relative;
  padding: 0.3em;
  cursor:pointer;
}
.suggested:hover{
  background-color:#eee;
}
.suggested-focus{
  background-color:#eee;
}
.suggested.author:before{
  content:"\f007";
  font-family: FontAwesome;
  padding-right: 0.3em;
}
.suggested.keyword:before{
  content:"\f02b";
  font-family: FontAwesome;
  padding-right: 0.3em;
}
.suggested.pub:before{
  content:"\f15b";
  font-family: FontAwesome;
  padding-right: 0.3em;
}
#canvas{ 
  z-index: 2;
  position:absolute;
  cursor:default;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#context{
  z-index: 5;
  opacity: 0;
  position:absolute;
  background-color: #fff;
  overflow:auto;
}
#context span,#context a{
}
#context-head{
  float:left;
  margin:10px 10px 45px 10px;
  max-width:310px;
}
.context-label{
  font-size: 1.2em;
  font-weight: bold;
}
#context-count{

}
#context-right{
  float:right;
  margin-right: 10px;
  margin-top:10px;
}
#context-right img{
  width:80;
}
#context-links{
  clear:both;
  position:absolute;
  margin: 17px 0px 15px 10px;
  bottom: 5px;
}
#context-links a{
  margin-right: 10px;
}
.loading-icon{
  margin-left:50px;
  padding-right:0.3em;
}
.context-icon i{
  padding-right:0.3em;
  vertical-align:text-top;
  line-height:inherit;
  cursor:default;
}
#labels{ 
  z-index: 4; 
  width:100%;
}
.label{
  position:absolute;
  opacity: 0;
  z-index: 4;
  border:2px solid transparent;
  padding:2px 4px;
  background:rgba(255,255,255,0.35);
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.label-text{
  padding-right: 5px;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 
/*.label:hover{
  cursor:pointer;
  background-color:#fff;
}*/
.label.hovered{
  opacity:1;
  cursor:default;
  background-color:#fff;
}
.author{
  color:#3377CC;
}
.keyword.selected:hover, .author.selected:hover{
  cursor:default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.author.selected{
  color:#fff;
  background-color:#3377CC;
}
.author.connected{
  background:rgba(214, 228, 245, 0.8);
}
.author.hovered{
  border: 2px solid #3377CC;
}
.pub{
  color:#66AA33;
}
.pub.label{
  margin-right:10px;
  font-size:20px;
}
.pub.selected{
  color:#fff;
  background-color:#66AA33;
}
.pub.connected{
  background:rgba(102, 170, 51, 0.2);
}
.pub.hovered{
  border: 2px solid #66AA33;
}
.keyword{
  color:#CC7733;
}
.keyword.selected{
  color:#fff;
  background-color:#CC7733;
}
.keyword.hovered{
  border: 2px solid #CC7733;
}
.keyword.connected{
  background:rgba(245, 228, 214, 0.8);
}
.organisation{
  color:#AA44AA;
}
.organisation.selected{
  color:#fff;
  background-color:#AA44AA;
}
.organisation.hovered{
  border: 2px solid #AA44AA;
}
.organisation.connected{
  background:rgba(170, 68, 170, 0.8);
}



.compare{
  border-left:1px solid #ddd;
  padding-left:0.4em;
  background-color:#fff;
  opacity: 0.35;
}
.compare:hover{
  opacity: 1;
}
.label-selected-remove{
  padding-left:0.3em;
  border-left:1px solid #fff;
}
.label-icon{
  padding-right: 0.4em;
  opacity: 0.35;
}
.label-icon:hover{
  opacity: 1;
}



